/* --------------------------------------------------------------*/

body {
    background: #fff;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

.section_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.body-bg {
    /*position: fixed;*/
    width: 100%;
    left: 0;
    top: 0;
    /*height: 100vh;*/
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease;
    background-image: url('../image/bg-image.jpg');
}

a.navbar-brand img {
    width: 77px;
}

.navbar_custom {
    position: fixed;
    margin-top: 84px;
    padding: 1.5rem 1rem;
    background-color: #000;
    width: 100%;
    z-index: 5;
}

.heading h6 {
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px;
}

nav.navbar.navbar-expand-md.navbar-dark.navbar_custom:after {
    content: "";
    position: absolute;
    bottom: 0;
    /* top: 0; */
    left: 9%;
    right: 9%;
    width: 78%;
    height: 3px;
    background-image: linear-gradient(to right, transparent, #7b1fa2, transparent);
}

.secondary_topbar {
    display: flex;
    position: fixed;
    padding: 1.5rem 1rem;
    background-color: #000;
    width: 100%;
    z-index: 6;
    justify-content: space-between;
    align-items: baseline;
}

.secondary_topbar ul {
    display: inline-flex;
    list-style-type: none;
}

.secondary_topbar .nav-link {
    color: #fff;
    letter-spacing: -0.9px;
    text-transform: uppercase;
}

.bold_list_detail {
    display: flex;
    align-items: baseline;
}

.user_icon .fa.fa-user {
    padding: 7px;
    border-radius: 50px;
    color: #000;
    border: 1px solid #d6d6d6;
    background: #d6d6d6;
}

.navbar-expand-md .navbar-collapse {
    flex-basis: 800px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: -0.9px;
    text-transform: uppercase;
}

li.nav-item.active a {
    color: #00c2ce !important;
}

ul.navbar-nav .nav-item {
    padding: 0px 10px;
}

.hero-image {
    padding-bottom: 78px;
    padding-top: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text h1 {
    line-height: 36px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: center;
    padding: 100px 40px 50px 40px;
}

.baner_button {
    padding: 14px 27px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    width: 160px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid #7b1fa2;
    background-color: #7b1fa2;
}

.baner_button a {
    color: #fff;
}

.baner_button a:hover {
    text-decoration: none;
    color: #7b1fa2;
}

.baner_button:hover {
    text-decoration: none;
    color: #7b1fa2;
    border: 2px solid #7b1fa2;
    background-color: transparent;
}


/* heading css */

h2.bottom_01:after {
    content: '';
    width: 10px;
    position: absolute;
    display: block;
    border: 0px;
    margin-top: 10px;
    padding-top: 4px;
    background: linear-gradient(to right, #7b1fa2, #6b4343);
    width: 119px;
}

h2.bottom_01 {
    text-transform: uppercase;
}

.heading_butn {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.why_heading {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
}


/* heading css end */


/* testimonail slider */

.testimonails_desc {
    margin: 0px auto;
    width: 83%;
    font-size: 20px;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/* home why section */

.why_icons img {
    margin-bottom: 20px;
    width: 65%;
    margin-top: 20px;
}


/*register and login start */

fieldset {
    border: 0;
    text-align: center;
}

input[type="submit"] {
    background: rgba(235, 30, 54, 1);
    border: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #FFF;
    padding: 10px;
    color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    width: 100%;
    background: rgba(235, 30, 54, 0.3);
    border-radius: 1.2rem;
    border-color: transparent;
}

::placeholder {
    color: #d3d3d3;
}

.Wrapper {
    padding-bottom: 83px;
    padding-top: 260px;
    background: url("https://images.unsplash.com/photo-1485802007047-7774de7208e5?dpr=1&auto=compress,format&fit=crop&w=1800&h") no-repeat center center fixed;
    background-size: cover;
}

.inner_wrapper_auth {
    width: 40%;
    margin: 0px auto;
}

.forgot-pass a {
    margin-top: 15px;
    text-align: right;
    font-size: 12px;
    color: #cfcfcf;
}

.heading_auth {
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    background: rgb(113 29 148 / 70%);
    font-size: 1.4rem;
    color: #d3d3d3;
}


/*Media queries */

@media all and (min-width: 481px) and (max-width: 568px) {
    #container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    #container {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .inner_wrapper_auth {
        width: 90%;
    }
}


/*register and login end*/


/* owl carousel start */

body .owl-carousel.owl-loading {
    opacity: 1;
    display: block;
    text-align: center;
}

.framebox {
    padding-top: 60px;
}

.owl-prev,
.owl-next {
    font-size: 25px;
    padding: 5px 16px;
    background: rgb(123 31 162);
    border-radius: 4px;
    color: white;
    border: 0;
    margin: 7px;
}

.owl-prev:hover,
.owl-next:hover,
.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.owl-item {
    border-radius: 4px;
}

a.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #f00;
    border-radius: 4px;
    cursor: pointer;
    padding: 78px 30px;
}

.item:hover {
    text-decoration-line: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
    margin-top: 10px;
}

body .owl-carousel .owl-dots,
body .owl-carousel .owl-nav {
    display: block;
    margin-top: 10px;
    text-align: center;
}

body .owl-carousel .owl-dots.disabled,
body .owl-carousel .owl-nav.disabled {
    display: block;
}

.owl-dot {
    display: none;
}

.item1 {
    background-color: rgb(237, 166, 252);
}

.item2 {
    background-color: rgb(230, 252, 255);
}

.item3 {
    background-color: rgb(255, 224, 250);
}

.item4 {
    background-color: rgb(255, 214, 214);
}

.item5 {
    background-color: rgb(213, 230, 255);
}


/* owl carosuel end */


/*FOOTER*/

#footer {
    background: #000;
    bottom: 0;
    text-align: center;
}

.footer-nav ul li a {
    color: #fff;
}

img.footer-logo {
    padding: 51px 0px 28px 0px;
    width: 10%;
}

.footer-nav ul {
    list-style: none;
    padding-left: 0px;
    display: inline-flex;
}

.footer-nav ul li {
    color: #fff;
    padding-right: 21px;
}

.copyright {
    padding: 25px;
    border-top: 1px solid #fff;
    color: white;
}

.footer-nav {
    padding-bottom: 15px;
}


/*quote*/


/*media query*/

@media only screen and (max-width: 1069px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 11px;
        letter-spacing: 0.1px;
    }
    .hero-text h1 {
        font-size: 30px !important;
    }
    .main_heading h2 {
        font-size: 26px !important;
    }
    ul.navbar-nav .nav-item {
        padding: 0px 2px;
    }
    .small_heading {
        font-size: 21px;
        line-height: 30px;
    }
    button.baner_button {
        font-size: 12px;
    }
    .main_heading {
        font-size: 20px;
    }
    .footer-nav ul li a {
        font-size: 12px;
        color: #fff;
    }
    .footer-nav ul li {
        line-height: 15px;
        color: #fff;
        padding: 5px;
    }
    .copyright {
        font-size: 12px;
    }
    h2.heading-01 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 569px) {
    img.quote-image {
        padding-right: 0px;
    }
    .bg_before_quote:before {
        display: none;
    }
}